extends layout

block content
    .col-xs-12.col-sm-8.pull-right
        .error= message
        p.lead= pageContent.leadline
        .panel.panel-primary
            .panel-heading
                h4.panel-title= pageContent.panelTitle[0]
            .panel-body
                p
                    | Ideea principala din spatele acestei aplicatii este sa asigure
                    | accesul utilizatorului la documente juridice ce pot fi usor personalizate.
                p
                    | Aplicatia foloseste compenente comune si componente individualizate pe care le
                    | combina in mod inteligent pentru a forma documentul dorit de utilizator, personalizat
                    | conform nevoilor sale.
                p
                    | Combinarea elemenelor depinde de inputul utilizatorului in ceea ce priveste anumite
                    | alegeri puse la dispozitia sa de catre aplicatie.
        .panel.panel-primary
            .panel-heading
                h4.panel-title= pageContent.panelTitle[1]
            .panel-body
        .panel.panel-primary
            .panel-heading
                h4.panel-title= pageContent.panelTitle[2]
            .panel-body
                p
                    | Aplicatia este construita cu <span class="badge">NodeJs</span>
                    | <span class="badge">Express</span> <span class="badge">Jade Template Engine</span> si
                    | <span class="badge">Twitter Bootstrap</span>
