doctype html
block vars
html(ng-app='legalDocs')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= pageTitle
    link(rel='stylesheet', href='/bootstrap/css/paper.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href='/') LegalDocs
                button.navbar-toggle(type='button', data-toggle='collapse' data-target='#navbar-main')
                   span.icon-bar
                   span.icon-bar
                   span.icon-bar
            #navbar-main.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href='/') Home
                    li
                        a(href='/about') About
                    li
                        a(href='/contact') Contact
                    li
                        a(href='/feedback') Feedback
    .container
        .row
            block title
                #banner.page-header
                    .row
                        .col-lg-8
                            h3= pageHeader.title
                              small &nbsp; #{pageHeader.strapline}
            block side
                .col-xs-12.col-sm-4
                    h4 Categorii de documente
                    .list-group
                        each val in side
                            a.list-group-item(href= val.item)
                                h5.list-group-item-heading=val.heading
                                p.list-group-item-text=val.text

            block content

        footer
           .row
               .col-xs-12
                   ul.footer-list
                      li.footer-item
                       small &copy; Lucian Tanase 2017
                      li.footer-item
                       small Disclaimer
                      li.footer-item
                       small Terms of Use
                      li.footer-item
                       small Cookies Policy
                      li.footer-item
                       small Data Privacy
    script(src='/javascripts/angular.js')
    script(src='/javascripts/legalDocs.js')
    script(src='/javascripts/jquery-3.1.0.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/main.js')
